@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  background: url("./assets/fon.jpg") no-repeat center;
  background-size: cover;
}

.glass {
  background: rgba(40, 117, 231, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(40, 117, 231, 0.3);
}

ul {
  margin-bottom: 20px;
}

.dinamic__list-items > li {
  border: 1px solid white;
}

.input__box {
  border: 1px solid black;
}

.change__icon:hover {
  transform: rotate(-180deg);
  transition: 400ms;
}

form input {
  width: 32vw;
}

@media (max-width: 1018px) {
  form {
    flex-direction: column;
  }

  form .input__convert {
    width: 100%;
  }

  form input {
    width: 100%;
  }

  .section__convert {
    height: 100svh;
  }

  .change__icon {
    transform: rotateZ(90deg);
  }

  .change__icon:hover {
    transform: rotateZ(-90deg);
  }

  button {
    width: 100%;
  }

  .course__money {
    text-align: start;
  }
}
